# Aggregate All Water System Data

Load, clean, and aggregate all Systems data. Include only piped water systems (leave non-piped systems to different analysis)

In [2]:
import pandas as pd

## Config

In [4]:
afc_file = "./data/AFPW - Community Water Systems.xlsx"
af_file = "./data/AFPW-PipedWaterSystems-AssuranceFund.xlsx"
hh_file = "./data/AFPW-PipedWaterSystems-HHSurvey.xlsx"
imp_file = "./data/AFPW-PipedWaterSystems-REALIMP.xlsx"
swn_file = "./data/AFPW-PipedWaterSystems-REALSWN.xlsx"

mwater_ba_file = "./data/AFPW-PipedWaterSystems-mWater-BrongAhafo.xlsx"
mwater_aev_file = "./data/AFPW-PipedWaterSystems-mWater-AshantiEasternVolta.xlsx"

## Load and Clean

In [20]:
afc_df = pd.read_excel(afc_file, sheet_name="All Community Systems")
afc_df = afc_df.rename(columns={"Region": "REGION", "District": "DISTRICT", "Community": "COMMUNITY",
                                "Source": "SOURCE", "System Managed By": "OPERATOR_MANAGER",
                                "Latitude": "LATITUDE", "Longitude": "LONGITUDE",
                                "System Type": "SYSTEM_TYPE"})
afc_df["COUNTRY"] = "Ghana"
afc_df.shape

(56, 17)

In [21]:
afc_df.columns

Index(['REGION', 'DISTRICT', 'COMMUNITY', 'Community (Alt. Name)', 'SOURCE',
       'SYSTEM_TYPE', 'Source of System Type', 'OPERATOR_MANAGER',
       'Source of System Managed By', 'LATITUDE', 'LONGITUDE',
       'Location Description', 'Source Comments', 'Population',
       'Source of Population', 'Comments', 'COUNTRY'],
      dtype='object')

In [24]:
afc_df["SYSTEM_TYPE"].value_counts()

SYSTEM_TYPE
Piped Water              43
Limited Mechanization    13
Name: count, dtype: int64

In [38]:
af_df = pd.read_excel(af_file)
af_df = af_df.dropna(subset=["LATITUDE", "LONGITUDE"])
af_df = af_df[af_df["SYSTEM_TYPE"]]
af_df.shape

(374, 12)

In [39]:
af_df.head(2)

,SYSTEMID,REGION,DISTRICT,COMMUNITY,SOURCE,OPERATOR_MANAGER,SYSTEM_TYPE,COMPONENT_TYPE,DESCRIPTION,LATITUDE,LONGITUDE,COMMENT
0,7,Ahafo,Asunafo North,Akrodie,Aquaya-AF,Unknown,Piped Water,Office,NaN,6.692092,-2.554405,NaN
1,7,Ahafo,Asunafo North,Akrodie,Aquaya-AF,Unknown,Piped Water,Pump station/ Borehole,Nkansam pump station,6.69178,-2.556637,NaN

In [40]:
af_df["SYSTEM_TYPE"].value_counts()

SYSTEM_TYPE
Piped Water              358
Limited Mechanization     16
Name: count, dtype: int64

In [25]:
hh_df = pd.read_excel(hh_file)
hh_df = hh_df.rename(columns={"Water System": "COMMUNITY", "Operator": "OPERATOR_MANAGER"})
hh_df["SYSTEM_TYPE"] = "Piped Water"
hh_df.shape

(138, 19)

In [26]:
hh_df.head(2)

,COUNTRY,REGION,DISTRICT,COMMUNITY,LATITUDE,LONGITUDE,Year of birth,Years in Ops(Age),TreatmentType,Number of Connections,Payment Method,OPERATOR_MANAGER,Total Std,Funct Std,Priv Con,Sch,Inst.,SOURCE,SYSTEM_TYPE
0,Ghana,Ashanti,Bekwai Municipal,Abodom Water System,6.442147,-1.550750,2022.0,21.0,SSF,233,Postpaid,CWSA,18.0,14.0,215.0,0.0,0.0,Aquaya-HHSurvey,Piped Water
1,Ghana,Ashanti,Ejisu Municipal,Achiase Water Station,6.457653,-1.313824,2018.0,5.0,LMS,415,Postpaid,SWN,6.0,NaN,409.0,0.0,0.0,Aquaya-HHSurvey,Piped Water