In [1]:
import pandas as pd

In [17]:
in_file = "/Users/datascience/Desktop/WPDX Plus - All Regions - Piped Water.csv"
# in_file = "/Users/datascience/Desktop/wpdx-ghana-plusdata.csv"

In [18]:
df = pd.read_csv(in_file)
df.shape

(2524, 73)

In [19]:
df.head(3)

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source_clean,#water_source_category,#water_tech_clean,#water_tech_category,...,#subjective_quality,New Georeferenced Column,lat_lon_deg,public_data_source,converted,count,created_timestamp,updated_timestamp,is_duplicate,dataset_title
0,"369,599",Water4,5.233200,-1.447812,06/05/2023 12:00:00 AM,Yes,Piped Water,Piped Water,Public Tapstand,Public Tapstand,...,NaN,POINT (-1.4478117 5.233199999999999),"(5.233199999999999°, -1.4478117°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,True,Water4_Global_2021-2022
1,"282,781",Water4,5.452758,-1.717567,12/14/2022 12:00:00 AM,Yes,Piped Water,Piped Water,Public Tapstand,Public Tapstand,...,NaN,POINT (-1.7175667 5.452758299999999),"(5.452758299999999°, -1.7175667°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,True,Water4_Global_2021-2022
2,"395,199",Water4,9.492330,-2.437187,11/16/2023 12:00:00 AM,Yes,Piped Water,Piped Water,Public Tapstand,Public Tapstand,...,NaN,POINT (-2.4371871999999994 9.492330200000001),"(9.492330200000001°, -2.4371871999999994°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,NaN,Water4_Global_2021-2022

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2524 entries, 0 to 2523
Data columns (total 73 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   row_id                       2524 non-null   object
 1   #source                      2524 non-null   object
 2   #lat_deg                     2524 non-null   float64
 3   #lon_deg                     2524 non-null   float64
 4   #report_date                 2524 non-null   object
 5   #status_id                   2524 non-null   object
 6   #water_source_clean          2524 non-null   object
 7   #water_source_category       2524 non-null   object
 8   #water_tech_clean            2051 non-null   object
 9   #water_tech_category         2051 non-null   object
 10  #facility_type               2524 non-null   object
 11  #clean_country_name          2524 non-null   object
 12  #clean_country_id            2524 non-null   object
 13  #clean_adm1                  2524 non-null   object
 14  #clean_adm2                  2524 non-null   object
 15  #clean_adm3                  0 non-null      float64
 16  #clean_adm4                  0 non-null      float64
 17  #install_year                2212 non-null   object
 18  #installer                   6 non-null      object
 19  #rehab_year                  1 non-null      object
 20  #rehabilitator               5 non-null      object
 21  #management_clean            2277 non-null   object
 22  #status_clean                2524 non-null   object
 23  #pay_clean                   0 non-null      float64
 24  #fecal_coliform_presence     575 non-null    object
 25  #fecal_coliform_value        3 non-null      float64
 26  #subjective_quality_clean    6 non-null      object
 27  #activity_id                 2283 non-null   float64
 28  #scheme_id                   2273 non-null   float64
 29  #wpdx_id                     2524 non-null   object
 30  #notes                       317 non-null    object
 31  #orig_lnk                    0 non-null      float64
 32  #photo_lnk                   2331 non-null   object
 33  #country_id                  33 non-null     object
 34  #data_lnk                    2524 non-null   object
 35  #distance_to_primary_road    2524 non-null   object
 36  #distance_to_secondary_road  2524 non-null   object
 37  #distance_to_tertiary_road   2524 non-null   object
 38  #distance_to_city            2524 non-null   object
 39  #distance_to_town            2524 non-null   object
 40  water_point_history          2524 non-null   object
 41  local_population_1km         0 non-null      float64
 42  water_point_population       0 non-null      float64
 43  rehab_priority               0 non-null      float64
 44  #pop_who_would_gain_access   43 non-null     float64
 45  crucialness_score            0 non-null      float64
 46  pressure_score               0 non-null      float64
 47  usage_capacity               2524 non-null   int64
 48  days_since_report            2524 non-null   object
 49  staleness_score              2524 non-null   float64
 50  latest_record                2524 non-null   bool
 51  location_id                  2524 non-null   object
 52  is_urban                     2524 non-null   bool
 53  cluster_size                 2524 non-null   int64
 54  #country_name                33 non-null     object
 55  #water_source                2524 non-null   object
 56  #water_tech                  2 non-null      object
 57  #status                      30 non-null     object
 58  #adm1                        349 non-null    object
 59  #adm2                        2277 non-null   object
 60  #adm3                        215 non-null    object
 61  #management                  2277 non-null   object
 62  #pay                         0 non-null      float64
 63  #subjective_quality          6 non-null      object
 64  New Georeferenced Column     2524 non-null   object
 65  lat_lon_deg                  2524 non-null   object
 66  public_data_source           2524 non-null   object
 67  converted                    1 non-null      object
 68  count                        2524 non-null   int64
 69  created_timestamp            2524 non-null   object
 70  updated_timestamp            2524 non-null   object
 71  is_duplicate                 641 non-null    object
 72  dataset_title                2524 non-null   object
dtypes: bool(2), float64(17), int64(3), object(51)
memory usage: 1.4+ MB

In [21]:
df["#water_source_clean"].value_counts()

#water_source_clean
Piped Water    2524
Name: count, dtype: int64

In [22]:
df["#clean_adm1"].value_counts()

#clean_adm1
Upper West    1152
Western        818
Savannah       409
Central        108
Oti             30
Northern         3
Ashanti          2
Upper East       2
Name: count, dtype: int64

In [9]:
df["#source"].value_counts()

#source
Water4                        2238
Water4 Headquarters            236
YouthMappers Ghana Chapter      30
Water4 Public                   14
WaterAid                         5
WaterAid UK                      1
Name: count, dtype: int64

In [10]:
df[df["#clean_adm1"].isin(["Ashanti", "Eastern", "Volta"])]

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source_clean,#water_source_category,#water_tech_clean,#water_tech_category,...,#subjective_quality,New Georeferenced Column,lat_lon_deg,public_data_source,converted,count,created_timestamp,updated_timestamp,is_duplicate,dataset_title
46,"143,211",Water4,6.451265,-1.310293,06/23/2022 12:00:00 AM,Yes,Piped Water,Piped Water,Public Tapstand,Public Tapstand,...,NaN,POINT (-1.310293121 6.451264867),"(6.451264867°, -1.310293121°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,True,Water4_Global_2021-2022
212,"142,659",Water4,7.235403,-1.578426,06/16/2022 12:00:00 AM,Yes,Piped Water,Piped Water,Public Tapstand,Public Tapstand,...,NaN,POINT (-1.5784263609999998 7.235402627999998),"(7.235402627999998°, -1.5784263609999998°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,True,Water4_Global_2021-2022

In [11]:
df[df["#clean_adm1"].isin(["Bono", "Ahafo"])]

Empty DataFrame
Columns: [row_id, #source, #lat_deg, #lon_deg, #report_date, #status_id, #water_source_clean, #water_source_category, #water_tech_clean, #water_tech_category, #facility_type, #clean_country_name, #clean_country_id, #clean_adm1, #clean_adm2, #clean_adm3, #clean_adm4, #install_year, #installer, #rehab_year, #rehabilitator, #management_clean, #status_clean, #pay_clean, #fecal_coliform_presence, #fecal_coliform_value, #subjective_quality_clean, #activity_id, #scheme_id, #wpdx_id, #notes, #orig_lnk, #photo_lnk, #country_id, #data_lnk, #distance_to_primary_road, #distance_to_secondary_road, #distance_to_tertiary_road, #distance_to_city, #distance_to_town, water_point_history, local_population_1km, water_point_population, rehab_priority, #pop_who_would_gain_access, crucialness_score, pressure_score, usage_capacity, days_since_report, staleness_score, latest_record, location_id, is_urban, cluster_size, #country_name, #water_source, #water_tech, #status, #adm1, #adm2, #adm3, #management, #pay, #subjective_quality, New Georeferenced Column , lat_lon_deg, public_data_source, converted, count, created_timestamp, updated_timestamp, is_duplicate, dataset_title]
Index: []

[0 rows x 73 columns]