Break REAL-IMP piped water point data into more data-friendly format

In [1]:
import pandas as pd

## Config

In [3]:
in_file = "/Users/datascience/Desktop/Aquaya-REALIMP-PipedWaterSystems.xlsx"

In [23]:
lat_thresh = (5.0, 12.0)
lon_thresh = (-5.0, 2.0)

In [10]:
in_cols = [
    'WF-BG-1', # System Name
    'WF-BG-2', # System Code
    'WF-BG-2 (Location Answered) (latitude)', # System loc 1
    'WF-BG-2 (Location Answered) (longitude)',
    'WF-BG-2 (Location Answered - accuracy)',
    'WF-BG-2 (Location Answered - altitude)',
    'WF-BG-4 (Location Answered) (latitude)', # System loc 2
    'WF-BG-4 (Location Answered) (longitude)',
    'WF-BG-4 (Location Answered - accuracy)',
    'WF-BG-4 (Location Answered - altitude)',
    'WF-BG-11',
    'WF-BG-11 (Location Answered) (latitude)',
    'WF-BG-11 (Location Answered) (longitude)',
    'WF-BG-11 (Location Answered - accuracy)',
    'WF-BG-11 (Location Answered - altitude)',
    'WF-BG-12 (latitude)',
    'WF-BG-12 (longitude)',
    'WF-BG-12 (method)',
    'WF-BG-12 (administrative region)',
    'WF-BG-12 (accuracy)',
    'WF-BG-12 (altitude)',
    'WF-1-F1-1.1',
    'WF-BG-13',
    'WF-BG-13 (Location Answered) (latitude)',
    'WF-BG-13 (Location Answered) (longitude)',
    'WF-BG-13 (Location Answered - accuracy)',
    'WF-BG-13 (Location Answered - altitude)',
    'WF-BG-14 (latitude)',
    'WF-BG-14 (longitude)',
    'WF-BG-14 (method)',
    'WF-BG-14 (administrative region)',
    'WF-BG-14 (accuracy)',
    'WF-BG-14 (altitude)',
    'WF-2-F1-1.1',
    'WF-BG-15',
    'WF-BG-15 (Location Answered) (latitude)',
    'WF-BG-15 (Location Answered) (longitude)',
    'WF-BG-15 (Location Answered - accuracy)',
    'WF-BG-15 (Location Answered - altitude)',
    'WF-BG-16 (latitude)',
    'WF-BG-16 (longitude)',
    'WF-BG-16 (method)',
    'WF-BG-16 (administrative region)',
    'WF-BG-16 (accuracy)',
    'WF-BG-16 (altitude)',
    'WF-3-F1-1.1',
    'WF-BG-17',
    'WF-BG-17 (Location Answered) (latitude)',
    'WF-BG-17 (Location Answered) (longitude)',
    'WF-BG-17 (Location Answered - accuracy)',
    'WF-BG-17 (Location Answered - altitude)',
    'WF-BG-18 (latitude)',
    'WF-BG-18 (longitude)',
    'WF-BG-18 (method)',
    'WF-BG-18 (administrative region)',
    'WF-BG-18 (accuracy)',
    'WF-BG-18 (altitude)',
    'WF-4-F1-1.1'
]

In [32]:
system_name_col = 'WF-BG-1'
system_lat1_col = 'WF-BG-2 (Location Answered) (latitude)'
system_lon1_col = 'WF-BG-2 (Location Answered) (longitude)'
system_lat2_col = 'WF-BG-4 (Location Answered) (latitude)'
system_lon2_col = 'WF-BG-4 (Location Answered) (longitude)'

## Data Load

In [33]:
df = pd.read_excel(in_file, )
df.shape

(143, 58)

In [34]:
df.head(3)

,WF-BG-1,WF-BG-2,WF-BG-2 (Location Answered) (latitude),WF-BG-2 (Location Answered) (longitude),WF-BG-2 (Location Answered - accuracy),WF-BG-2 (Location Answered - altitude),WF-BG-4 (Location Answered) (latitude),WF-BG-4 (Location Answered) (longitude),WF-BG-4 (Location Answered - accuracy),WF-BG-4 (Location Answered - altitude),...,WF-BG-17 (Location Answered) (longitude),WF-BG-17 (Location Answered - accuracy),WF-BG-17 (Location Answered - altitude),WF-BG-18 (latitude),WF-BG-18 (longitude),WF-BG-18 (method),WF-BG-18 (administrative region),WF-BG-18 (accuracy),WF-BG-18 (altitude),WF-4-F1-1.1
0,Savelugu Water and Sanitation System,SASAVWSMT,9.605198,-0.830914,7.760,203.7,9.605477,-0.831774,7.880,203.6,...,NaN,NaN,NaN,9.612238,-0.830199,Map,"Savelugu Nanton, Northern, Ghana",NaN,NaN,Standpipe
1,Gulbi Quarters Small Water System,KPGUWSMT,8.255367,-0.235625,5.950,152.0,8.255291,-0.235690,6.933,152.0,...,-0.240059,4.750,181.9,8.252911,-0.240114,GPS,"Kpandai, Northern, Ghana",3.928,143.1,Standpipe
2,Daire Water and Sanitation Management Team,SADIWSMT,9.868709,-0.871240,5.033,162.8,9.868783,-0.871223,5.366,150.0,...,-0.846335,5.366,183.5,9.874052,-0.880667,Map,"Savelugu Nanton, Northern, Ghana",NaN,NaN,Standpipe

## Break rows into water points

In [60]:
rows = []
for i, row in df.iterrows():
    # Grab the admin location data and split out
    if pd.notnull(row['WF-BG-12 (administrative region)']) and row['WF-BG-12 (administrative region)'].strip() != "":
        adm_str = row['WF-BG-12 (administrative region)']
    elif pd.notnull(row['WF-BG-14 (administrative region)']) and row['WF-BG-14 (administrative region)'].strip() != "":
        adm_str = row['WF-BG-14 (administrative region)']
    elif pd.notnull(row['WF-BG-16 (administrative region)']) and row['WF-BG-16 (administrative region)'].strip() != "":
        adm_str = row['WF-BG-16 (administrative region)']
    elif pd.notnull(row['WF-BG-18 (administrative region)']) and row['WF-BG-18 (administrative region)'].strip() != "":
        adm_str = row['WF-BG-18 (administrative region)']
    else:
        print(f"WARNING: Row {i} has no valid admin location string")
    adm_district, adm_region, adm_country = adm_str.strip().split(",")
    
    # First new row
    lat1 = row[system_lat1_col]
    rows.append([
        row[system_name_col],
        row[system_lat1_col] if pd.notnull(lat1) and lat1 > lat_thresh[0] and lat1 < lat_thresh[1] else row[system_lat2_col],
        row[system_lon1_col] if pd.notnull(lat1) and lat1 > lat_thresh[0] and lat1 < lat_thresh[1] else row[system_lon2_col],
        "System Location",
        "", # Empty location description
        adm_country,
        adm_region,
        adm_district,
    ])

    # Second new row
    lat2 = row['WF-BG-11 (Location Answered) (latitude)']
    rows.append([
        row[system_name_col],
        row['WF-BG-11 (Location Answered) (latitude)'] if pd.notnull(lat2) and lat2 > lat_thresh[0] and lat2 < lat_thresh[1] else row['WF-BG-12 (latitude)'],
        row['WF-BG-11 (Location Answered) (longitude)'] if pd.notnull(lat2) and lat2 > lat_thresh[0] and lat2 < lat_thresh[1] else row['WF-BG-12 (longitude)'],
        row['WF-1-F1-1.1'],
        row['WF-BG-11'],
        adm_country,
        adm_region,
        adm_district,
    ])

    # Third new row
    lat3 = row['WF-BG-13 (Location Answered) (latitude)']
    rows.append([
        row[system_name_col],
        row['WF-BG-13 (Location Answered) (latitude)'] if pd.notnull(lat3) and lat3 > lat_thresh[0] and lat3 < lat_thresh[1] else row['WF-BG-14 (latitude)'],
        row['WF-BG-13 (Location Answered) (longitude)'] if pd.notnull(lat3) and lat3 > lat_thresh[0] and lat3 < lat_thresh[1] else row['WF-BG-14 (longitude)'],
        row['WF-2-F1-1.1'],
        row['WF-BG-13'],
        adm_country,
        adm_region,
        adm_district,
    ])

    # Fourth new row
    lat4 = row['WF-BG-15 (Location Answered) (latitude)']
    rows.append([
        row[system_name_col],
        row['WF-BG-15 (Location Answered) (latitude)'] if pd.notnull(lat4) and lat4 > lat_thresh[0] and lat4 < lat_thresh[1] else row['WF-BG-16 (latitude)'],
        row['WF-BG-15 (Location Answered) (longitude)'] if pd.notnull(lat4) and lat4 > lat_thresh[0] and lat4 < lat_thresh[1] else row['WF-BG-16 (longitude)'],
        row['WF-3-F1-1.1'],
        row['WF-BG-15'],
        adm_country,
        adm_region,
        adm_district,
    ])

    # Fifth new row
    lat5 = row['WF-BG-17 (Location Answered) (latitude)']
    rows.append([
        row[system_name_col],
        row['WF-BG-17 (Location Answered) (latitude)'] if pd.notnull(lat5) and lat5 > lat_thresh[0] and lat5 < lat_thresh[1] else row['WF-BG-18 (latitude)'],
        row['WF-BG-17 (Location Answered) (longitude)'] if pd.notnull(lat5) and lat5 > lat_thresh[0] and lat5 < lat_thresh[1] else row['WF-BG-18 (longitude)'],
        row['WF-4-F1-1.1'],
        row['WF-BG-17'],
        adm_country,
        adm_region,
        adm_district,
    ])

In [61]:
len(rows)

715

In [74]:
new_df = pd.DataFrame(data=rows, columns=["Water System", "LATITUDE", "LONGITUDE", "Type", "LocationDescription", "COUNTRY", "REGION", "DISTRICT"])
new_df.shape

(715, 8)

In [76]:
# Drop rows with no Lat / Lon
new_df = new_df.dropna(subset=["LATITUDE", "LONGITUDE"])
new_df.shape

(689, 8)

In [83]:
new_df.insert(8, "SOURCE", "Aquaya-REALIMP")

In [84]:
new_df.head(7)

,Water System,LATITUDE,LONGITUDE,Type,LocationDescription,COUNTRY,REGION,DISTRICT,SOURCE
0,Savelugu Water and Sanitation System,9.605198,-0.830914,System Location,,Ghana,Northern,Savelugu Nanton,Aquaya-REALIMP
1,Savelugu Water and Sanitation System,9.612484,-0.832787,Standpipe,The nearest land mark is a dam a few meters fr...,Ghana,Northern,Savelugu Nanton,Aquaya-REALIMP
2,Savelugu Water and Sanitation System,9.439490,-0.846172,Standpipe,Close to the health insurance office,Ghana,Northern,Savelugu Nanton,Aquaya-REALIMP
3,Savelugu Water and Sanitation System,9.439349,-0.846227,Standpipe,Surrounded by several households a few about 2...,Ghana,Northern,Savelugu Nanton,Aquaya-REALIMP
4,Savelugu Water and Sanitation System,9.612238,-0.830199,Standpipe,A few meters away from the major road( Savelug...,Ghana,Northern,Savelugu Nanton,Aquaya-REALIMP
5,Gulbi Quarters Small Water System,8.255367,-0.235625,System Location,,Ghana,Northern,Kpandai,Aquaya-REALIMP
6,Gulbi Quarters Small Water System,8.253480,-0.236395,Standpipe,Close to Elder Conja's house(Elder of the Quar...,Ghana,Northern,Kpandai,Aquaya-REALIMP

In [85]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 689 entries, 0 to 714
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Water System         689 non-null    object
 1   LATITUDE             689 non-null    float64
 2   LONGITUDE            689 non-null    float64
 3   Type                 689 non-null    object
 4   LocationDescription  689 non-null    object
 5   COUNTRY              689 non-null    object
 6   REGION               689 non-null    object
 7   DISTRICT             689 non-null    object
 8   SOURCE               689 non-null    object
dtypes: float64(2), object(7)
memory usage: 53.8+ KB

In [86]:
new_df["REGION"].value_counts()

REGION
Ashanti        260
Northern       172
Volta          164
Eastern         53
Upper West      20
Brong Ahafo     20
Name: count, dtype: int64

## Export

In [87]:
new_df.to_excel("/Users/datascience/Desktop/Aquaya-REALIMP-PipedWaterSystems.Exploded.xlsx", index=False)