Clean up and export mWater filters download data

In [3]:
import pandas as pd

## Config

In [4]:
in_file = "./data/mWater - GHA - Piped Systems.csv"

## Load Data

In [5]:
df = pd.read_csv(in_file)
df.shape

/var/folders/pt/b5mvkwrj3z95dnjwxq9p91340000gn/T/ipykernel_11998/761013206.py:1: DtypeWarning: Columns (13,36,56,57,72) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(in_file)

(11285, 75)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11285 entries, 0 to 11284
Data columns (total 75 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Name                                                                11222 non-null  object
 1   Description                                                         4697 non-null   object
 2   Type                                                                11285 non-null  object
 3   GPS Location (latitude)                                             11285 non-null  float64
 4   GPS Location (longitude)                                            11285 non-null  float64
 5   Administrative region                                               11285 non-null  object
 6   Location Accuracy                                                   9633 non-null   float64
 7   Location Altitude                                                   2798 non-null   float64
 8   Altitude Accuracy                                                   1248 non-null   float64
 9   Unique ID                                                           11285 non-null  int64
 10  Custom ID                                                           973 non-null    object
 11  Custom ID assigned by                                               298 non-null    object
 12  Photos                                                              7800 non-null   object
 13  Primarily agricultural use                                          7 non-null      object
 14  Primarily livestock use                                             0 non-null      float64
 15  Date of installation                                                6793 non-null   object
 16  Drilling method                                                     237 non-null    object
 17  Pump/lifting device                                                 239 non-null    object
 18  Supply for groundwater system                                       17 non-null     object
 19  Supply for piped system                                             5205 non-null   object
 20  Treatment works                                                     252 non-null    object
 21  Rehabilitated water point                                           0 non-null      float64
 22  Rehabilitation date                                                 99 non-null     object
 23  Drilling method (other)                                             0 non-null      float64
 24  Pump lifting device (Other)                                         4 non-null      object
 25  Supply (other)                                                      14 non-null     object
 26  Treatment Works - Other (please specify)                            11 non-null     object
 27  Provide additional information about supply and treatment systems?  151 non-null    object
 28  Depth (m)                                                           47 non-null     float64
 29  Year of construction or most recent rehabilitation (EFY)            93 non-null     float64
 30  Monitoring                                                          5 non-null      object
 31  Water system                                                        8791 non-null   float64
 32  Community                                                           6217 non-null   float64
 33  School                                                              163 non-null    float64
 34  Health facility                                                     112 non-null    float64
 35  Household                                                           49 non-null     float64
 36  Project ID                                                          1 non-null      object
 37  TWP Project ID                                                      0 non-null      float64
 38  TWP Project Location                                                0 non-null      float64
 39  Location type                                                       5655 non-null   object
 40  Location type - Other                                               218 non-null    object
 41  Piped system type                                                   93 non-null     object
 42  Piped system type (other)                                           85 non-null     object
 43  The Water Trust Uganda Id                                           0 non-null      float64
 44  Country (text)                                                      74 non-null     object
 45  Import code                                                         471 non-null    object
 46  External photo location                                             228 non-null    object
 47  Bar code                                                            0 non-null      float64
 48  Implementing organization                                           6737 non-null   object
 49  Installer or driller                                                0 non-null      float64
 50  Funder or donor                                                     2467 non-null   object
 51  Rehabilitation implementing organization                            0 non-null      float64
 52  Rehabilitation funder or donor                                      0 non-null      float64
 53  WRA Code                                                            0 non-null      float64
 54  Type (Uganda)                                                       0 non-null      float64
 55  Source ID                                                           0 non-null      float64
 56  Connection type                                                     1 non-null      object
 57  Meter present                                                       1 non-null      object
 58  Meter ID                                                            0 non-null      float64
 59  Meter photo                                                         0 non-null      float64
 60  Sector number                                                       0 non-null      float64
 61  admin1                                                              0 non-null      float64
 62  admin2                                                              0 non-null      float64
 63  admin3                                                              0 non-null      float64
 64  admin4                                                              0 non-null      float64
 65  admin5                                                              0 non-null      float64
 66  Water asset                                                         2604 non-null   float64
 67  Managed By                                                          11285 non-null  object
 68  Added by user                                                       11285 non-null  object
 69  Date added                                                          11285 non-null  object
 70  Last modified by user                                               9771 non-null   object
 71  Date last modified                                                  9771 non-null   object
 72  Site Private                                                        11284 non-null  object
 73  Previous mWater IDs                                                 164 non-null    object
 74  Pending Approvals                                                   11285 non-null  bool
dtypes: bool(1), float64(34), int64(1), object(39)
memory usage: 6.4+ MB

## Clean Data

### Split admin location data

In [8]:
df[["DISTRICT", "REGION", "COUNTRY"]] = df['Administrative region'].str.strip().str.split(",", n=2, expand=True)

In [9]:
df.head(3)

,Name,Description,Type,GPS Location (latitude),GPS Location (longitude),Administrative region,Location Accuracy,Location Altitude,Altitude Accuracy,Unique ID,...,Added by user,Date added,Last modified by user,Date last modified,Site Private,Previous mWater IDs,Pending Approvals,DISTRICT,REGION,COUNTRY
0,Washing Bay,NaN,Piped into yard/plot,4.988517,-2.593267,"Jomoro, Western, Ghana",NaN,NaN,NaN,1094101,...,ftzomayi,2017-10-11T22:24:11.744Z,admin,2023-10-25T21:12:01.386Z,False,NaN,False,Jomoro,Western,Ghana
1,Kennedy Koudgzi,NaN,Piped into dwelling,5.428370,-1.632521,"Wassa East, Western, Ghana",6.000906,NaN,3.0,646847434,...,j.nkrumah,2024-03-21T07:31:29.541Z,snagyekum1,2024-07-19T13:42:46.447Z,False,NaN,True,Wassa East,Western,Ghana
2,Mary Alidu,NaN,Piped into dwelling,5.428823,-1.632139,"Wassa East, Western, Ghana",6.000906,NaN,3.0,666130433,...,j.nkrumah,2024-03-28T12:32:02.072Z,snagyekum1,2024-07-19T13:43:31.989Z,False,NaN,True,Wassa East,Western,Ghana

### Add Source

In [10]:
df["SOURCE"] = "Public-mWater"

### Clean up columns as needed

In [11]:
df["Description"] = df["Description"].fillna("")
df["Name"] = df["Name"].fillna("")

In [12]:
df.head(3)

,Name,Description,Type,GPS Location (latitude),GPS Location (longitude),Administrative region,Location Accuracy,Location Altitude,Altitude Accuracy,Unique ID,...,Date added,Last modified by user,Date last modified,Site Private,Previous mWater IDs,Pending Approvals,DISTRICT,REGION,COUNTRY,SOURCE
0,Washing Bay,,Piped into yard/plot,4.988517,-2.593267,"Jomoro, Western, Ghana",NaN,NaN,NaN,1094101,...,2017-10-11T22:24:11.744Z,admin,2023-10-25T21:12:01.386Z,False,NaN,False,Jomoro,Western,Ghana,Public-mWater
1,Kennedy Koudgzi,,Piped into dwelling,5.428370,-1.632521,"Wassa East, Western, Ghana",6.000906,NaN,3.0,646847434,...,2024-03-21T07:31:29.541Z,snagyekum1,2024-07-19T13:42:46.447Z,False,NaN,True,Wassa East,Western,Ghana,Public-mWater
2,Mary Alidu,,Piped into dwelling,5.428823,-1.632139,"Wassa East, Western, Ghana",6.000906,NaN,3.0,666130433,...,2024-03-28T12:32:02.072Z,snagyekum1,2024-07-19T13:43:31.989Z,False,NaN,True,Wassa East,Western,Ghana,Public-mWater

### Drop unneeded cols

In [13]:
keep_cols = [
    'Name', 'Description', 'Type',
    'DISTRICT', 'REGION', 'COUNTRY',
    'GPS Location (latitude)', 'GPS Location (longitude)',
    'Location Accuracy', 'Location Altitude', 'Altitude Accuracy',
    'Managed By', 'Location type',
    'Implementing organization', 'Funder or donor', 'Installer or driller',
    'Date of installation', 'Date added', 'Date last modified',
    'Drilling method', 'Pump/lifting device',
    'Supply for groundwater system', 'Supply for piped system', 'Treatment works', 'Depth (m)',
    'Photos',
    'SOURCE',
]

In [14]:
df = df[keep_cols].copy()
df.shape

(11285, 27)

In [15]:
df.head(3)

,Name,Description,Type,DISTRICT,REGION,COUNTRY,GPS Location (latitude),GPS Location (longitude),Location Accuracy,Location Altitude,...,Date added,Date last modified,Drilling method,Pump/lifting device,Supply for groundwater system,Supply for piped system,Treatment works,Depth (m),Photos,SOURCE
0,Washing Bay,,Piped into yard/plot,Jomoro,Western,Ghana,4.988517,-2.593267,NaN,NaN,...,2017-10-11T22:24:11.744Z,2023-10-25T21:12:01.386Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public-mWater
1,Kennedy Koudgzi,,Piped into dwelling,Wassa East,Western,Ghana,5.428370,-1.632521,6.000906,NaN,...,2024-03-21T07:31:29.541Z,2024-07-19T13:42:46.447Z,NaN,NaN,NaN,Borehole or tubewell,NaN,NaN,https://api.mwater.co/v3/images/c8ab0d6aea9445...,Public-mWater
2,Mary Alidu,,Piped into dwelling,Wassa East,Western,Ghana,5.428823,-1.632139,6.000906,NaN,...,2024-03-28T12:32:02.072Z,2024-07-19T13:43:31.989Z,NaN,NaN,NaN,Borehole or tubewell,NaN,NaN,https://api.mwater.co/v3/images/63e676fc780941...,Public-mWater

### Rename Columns

In [16]:
rename_dict = {
    "Name": "Water System",
    "GPS Location (latitude)": "LATITUDE",
    "GPS Location (longitude)": "LONGITUDE",
}

In [17]:
df = df.rename(columns=rename_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11285 entries, 0 to 11284
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Water System                   11285 non-null  object
 1   Description                    11285 non-null  object
 2   Type                           11285 non-null  object
 3   DISTRICT                       11285 non-null  object
 4   REGION                         11285 non-null  object
 5   COUNTRY                        11285 non-null  object
 6   LATITUDE                       11285 non-null  float64
 7   LONGITUDE                      11285 non-null  float64
 8   Location Accuracy              9633 non-null   float64
 9   Location Altitude              2798 non-null   float64
 10  Altitude Accuracy              1248 non-null   float64
 11  Managed By                     11285 non-null  object
 12  Location type                  5655 non-null   object
 13  Implementing organization      6737 non-null   object
 14  Funder or donor                2467 non-null   object
 15  Installer or driller           0 non-null      float64
 16  Date of installation           6793 non-null   object
 17  Date added                     11285 non-null  object
 18  Date last modified             9771 non-null   object
 19  Drilling method                237 non-null    object
 20  Pump/lifting device            239 non-null    object
 21  Supply for groundwater system  17 non-null     object
 22  Supply for piped system        5205 non-null   object
 23  Treatment works                252 non-null    object
 24  Depth (m)                      47 non-null     float64
 25  Photos                         7800 non-null   object
 26  SOURCE                         11285 non-null  object
dtypes: float64(7), object(20)
memory usage: 2.3+ MB

## Export

In [18]:
df.head(3)

,Water System,Description,Type,DISTRICT,REGION,COUNTRY,LATITUDE,LONGITUDE,Location Accuracy,Location Altitude,...,Date added,Date last modified,Drilling method,Pump/lifting device,Supply for groundwater system,Supply for piped system,Treatment works,Depth (m),Photos,SOURCE
0,Washing Bay,,Piped into yard/plot,Jomoro,Western,Ghana,4.988517,-2.593267,NaN,NaN,...,2017-10-11T22:24:11.744Z,2023-10-25T21:12:01.386Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public-mWater
1,Kennedy Koudgzi,,Piped into dwelling,Wassa East,Western,Ghana,5.428370,-1.632521,6.000906,NaN,...,2024-03-21T07:31:29.541Z,2024-07-19T13:42:46.447Z,NaN,NaN,NaN,Borehole or tubewell,NaN,NaN,https://api.mwater.co/v3/images/c8ab0d6aea9445...,Public-mWater
2,Mary Alidu,,Piped into dwelling,Wassa East,Western,Ghana,5.428823,-1.632139,6.000906,NaN,...,2024-03-28T12:32:02.072Z,2024-07-19T13:43:31.989Z,NaN,NaN,NaN,Borehole or tubewell,NaN,NaN,https://api.mwater.co/v3/images/63e676fc780941...,Public-mWater

In [19]:
df.to_excel("./export/AFPW-PipedWaterSystems-mWater.xlsx", index=False)