This notebook to explore the weird alternate WPDX data I believe comes from the HDX

TBD

In [1]:
import pandas as pd

<h2 style="padding:7px; color:black; background-color:lightskyblue;">HDX WPDX Files (Based on WPDX+, allegedly)</h2>

In [ ]:
hdx_file = "/Users/datascience/Desktop/WPDX - GHA - HDX.csv"
hdx_df = pd.read_csv(hdx_file, skiprows=[1])
hdx_df.shape

In [12]:
hdx_df.head(2)

,lat_deg,lon_deg,status_id,report_date,source,water_source_clean,water_tech_clean,clean_country_id,clean_country_name,clean_adm1,...,is_urban,days_since_report,staleness,prediction_yes_0y,prediction_yes_2y,prediction_no_0y,prediction_no_2y,predicted_status_0y,predicted_status_2y,predicted_category
0,7.636974,-2.727494,Yes,2014-09-09,CWSA,Borehole/Tubewell,Hand Pump - India Mark,GHA,Ghana,Bono,...,False,3561,32.547352,0.844953,0.836034,0.155047,0.163966,Yes,Yes,ok
1,7.636190,-2.724577,Yes,2014-09-09,CWSA,Borehole/Tubewell,Hand Pump - Afridev,GHA,Ghana,Bono,...,False,3561,32.547352,0.835568,0.819439,0.164432,0.180561,Yes,Yes,ok

In [27]:
hdx_df.dtypes

lat_deg                    float64
lon_deg                    float64
status_id                   object
report_date                 object
source                      object
water_source_clean          object
water_tech_clean            object
clean_country_id            object
clean_country_name          object
clean_adm1                  object
clean_adm2                  object
clean_adm3                 float64
clean_adm4                 float64
activity_id                 object
scheme_id                  float64
wpdx_id                     object
install_year               float64
installer                   object
rehab_year                 float64
rehabilitator               object
management_clean            object
pay_clean                   object
status_clean                object
fecal_coliform_presence     object
fecal_coliform_value       float64
subjective_quality          object
notes                       object
local_population           float64
assigned_population        float64
facility_type               object
water_source_category       object
water_tech_category         object
created_timestamp           object
dataset_title               object
rehab_priority             float64
would_gain_access          float64
usage_cap                  float64
criticality                float64
pressure                   float64
distance_to_primary        float64
distance_to_secondary      float64
distance_to_tertiary       float64
distance_to_city           float64
distance_to_town           float64
is_urban                      bool
days_since_report            int64
staleness                  float64
prediction_yes_0y          float64
prediction_yes_2y          float64
prediction_no_0y           float64
prediction_no_2y           float64
predicted_status_0y         object
predicted_status_2y         object
predicted_category          object
dtype: object

In [13]:
hdx_df["clean_adm1"].value_counts()

clean_adm1
Upper West       4240
Upper East       4017
Western          2919
Central          2615
Northern         2604
Bono             1505
Savannah         1384
Bono East        1313
Western North    1194
Northern East    1138
Ahafo            1066
Oti               136
Ashanti            88
Eastern             3
Greater Accra       1
Name: count, dtype: int64

In [28]:
hdx_df["water_source_category"].value_counts()

water_source_category
Well                       20915
Piped Water                 3016
Rainwater Harvesting          12
Sand or Sub-surface Dam        4
Spring                         3
Name: count, dtype: int64

In [16]:
hdx_df["source"].value_counts()

source
CWSA                                            19610
Water4                                           3052
World Vision                                      457
Aquaya                                            276
CRS                                               270
Water4 Headquarters                               237
Living Water International                        127
Global Environment and Technology Foundation       74
Water4 Public                                      70
YouthMappers Ghana Chapter                         40
WaterAid                                            6
UNHCR                                               3
WaterAid UK                                         1
Name: count, dtype: int64

In [31]:
hdx_df["management_clean"].value_counts()

management_clean
Community Management                     15401
Private Operator/Delegated Management     4015
No Management                             2742
School Management                          238
Health Care Facility                        90
Direct Government Operation                 29
Religious Institution                       23
Other Institutional Management              18
Name: count, dtype: int64

In [29]:
hdx_df[hdx_df["water_source_category"].isin(["Piped Water"])]["clean_adm1"].value_counts()

clean_adm1
Upper West    1428
Western        875
Savannah       434
Central        134
Northern       111
Oti             30
Ashanti          2
Upper East       2
Name: count, dtype: int64

<h2 style="padding:7px; color:black; background-color:lightskyblue;">WPDX Basic</h2>

In [19]:
basic_file = "/Users/datascience/Desktop/WPDX - GHA - WPDX Basic.csv"
basic_df = pd.read_csv(basic_file)
basic_df.shape

/var/folders/_f/bhtpz1nj0216d4sgdjmd9vk40000gn/T/ipykernel_39817/368961957.py:2: DtypeWarning: Columns (11,13,15,17,18,20,21,24,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  basic_df = pd.read_csv(basic_file)

(49176, 52)

In [21]:
basic_df.head(2)

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source,#water_tech,#country_name,#adm1,...,count,New Georeferenced Column,lat_lon_deg,#converted,public_data_source,created_timestamp,updated,#pay_clean,#subjective_quality_clean,dataset_title
0,29375,Global Environment and Technology Foundation,6.701500,-1.583140,10/25/2017 12:00:00 AM,Yes,NaN,Standpost,Ghana,NaN,...,1,POINT (-1.58314 6.7015),"(6.7015°, -1.58314°)",NaN,https://catalog.waterpointdata.org/datafiles/w...,07/29/2020 07:21:47 PM,07/29/2020 07:21:47 PM,NaN,NaN,WPDx Reingestion_Global
1,59046,Water4 Public,5.181252,-1.605499,04/20/2017 12:00:00 AM,Yes,Protected dug well,NaN,NaN,Ghana,...,1,POINT (-1.6054988999999922 5.181251699999991),"(5.181251699999991°, -1.6054988999999922°)",NaN,https://catalog.waterpointdata.org/datafiles/w...,05/19/2021 07:21:29 PM,05/19/2021 07:21:29 PM,NaN,NaN,Water4_Ghana WassaEast_2016-2021

In [23]:
basic_df.dtypes

row_id                         int64
#source                       object
#lat_deg                     float64
#lon_deg                     float64
#report_date                  object
#status_id                    object
#water_source                 object
#water_tech                   object
#country_name                 object
#adm1                         object
#adm2                         object
#adm3                         object
#install_year                float64
#installer                    object
#rehab_year                  float64
#rehabilitator                object
#management                   object
#pay                          object
#status                       object
#fecal_coliform_value        float64
#fecal_coliform_presence      object
#subjective_quality           object
#activity_id                  object
#scheme_id                   float64
#notes                        object
#photo_lnk                    object
#orig_lnk                    float64
#data_lnk                     object
#country_id                   object
clean_country_id              object
clean_country_name            object
clean_adm1                    object
clean_adm2                    object
clean_adm3                   float64
clean_adm4                   float64
water_source_clean            object
water_source_category         object
water_tech_clean              object
water_tech_category           object
facility_type                 object
management_clean              object
status_clean                  object
count                          int64
New Georeferenced Column      object
lat_lon_deg                   object
#converted                    object
public_data_source            object
created_timestamp             object
updated                       object
#pay_clean                    object
#subjective_quality_clean     object
dataset_title                 object
dtype: object

In [24]:
basic_df["clean_adm1"].value_counts()

clean_adm1
Western          16934
Upper West       10026
Central           4371
Upper East        4124
Savannah          3577
Northern          3192
Bono              1587
Bono East         1384
Western North     1275
Ahafo             1209
Northern East     1186
Ashanti            166
Oti                140
Eastern              4
Greater Accra        1
Name: count, dtype: int64

In [32]:
basic_df["water_source_category"].value_counts()

water_source_category
Well                       22743
Piped Water                10871
Surface Water                 57
Rainwater Harvesting          16
Spring                         4
Sand or Sub-surface Dam        4
Name: count, dtype: int64

In [33]:
basic_df["management_clean"].value_counts()

management_clean
Private Operator/Delegated Management    27602
Community Management                     15949
No Management                             2800
School Management                          240
Health Care Facility                        92
Direct Government Operation                 29
Religious Institution                       23
Other Institutional Management              18
Name: count, dtype: int64

In [34]:
basic_df[basic_df["water_source_category"].isin(["Piped Water"])]["clean_adm1"].value_counts()

clean_adm1
Western       4288
Upper West    4148
Savannah      1463
Northern       478
Central        457
Oti             30
Ashanti          4
Upper East       3
Name: count, dtype: int64

<h2 style="padding:7px; color:black; background-color:lightskyblue;">WPDX+</h2>

In [36]:
plus_file = "/Users/datascience/Desktop/WPDX - GHA - WPDX Plus.csv"
plus_df = pd.read_csv(plus_file)
plus_df.shape

/var/folders/_f/bhtpz1nj0216d4sgdjmd9vk40000gn/T/ipykernel_39817/2380119968.py:2: DtypeWarning: Columns (20,26,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  plus_df = pd.read_csv(plus_file)

(24223, 73)

In [39]:
plus_df.head(2)

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source_clean,#water_source_category,#water_tech_clean,#water_tech_category,...,#subjective_quality,New Georeferenced Column,lat_lon_deg,public_data_source,converted,count,created_timestamp,updated_timestamp,is_duplicate,dataset_title
0,490491,Water4,9.752869,-2.494573,05/30/2024 12:00:00 AM,Yes,Piped Water,Piped Water,NaN,NaN,...,NaN,POINT (-2.4945725999999997 9.752869499999997),"(9.752869499999997°, -2.4945725999999997°)",https://catalog.waterpointdata.org/datafiles/w...,NaN,1,03/18/2022 06:23:12 PM,03/18/2022 06:23:12 PM,NaN,Water4_Global_2021-2022
1,644474,Living Water International,7.066837,-2.783900,07/26/2015 12:00:00 AM,Yes,Borehole/Tubewell,Well,Hand Pump - Afridev,Hand Pump,...,NaN,POINT (-2.7839 7.066836667),"(7.066836667°, -2.7839°)",https://catalog.waterpointdata.org/datafiles/t...,NaN,1,07/21/2020 08:01:34 PM,07/21/2020 08:01:34 PM,NaN,Living Water International_Africa Latin Americ...

In [43]:
plus_df["#clean_adm1"].value_counts()

#clean_adm1
Upper West       4240
Upper East       4017
Western          2919
Central          2615
Northern         2604
Bono             1505
Savannah         1384
Bono East        1313
Western North    1194
Northern East    1138
Ahafo            1066
Oti               136
Ashanti            88
Eastern             3
Greater Accra       1
Name: count, dtype: int64

In [45]:
plus_df["#water_source_category"].value_counts()

#water_source_category
Well                       20915
Piped Water                 3016
Rainwater Harvesting          12
Sand or Sub-surface Dam        4
Spring                         3
Name: count, dtype: int64

In [46]:
plus_df[plus_df["#water_source_category"].isin(["Piped Water"])]["#clean_adm1"].value_counts()

#clean_adm1
Upper West    1428
Western        875
Savannah       434
Central        134
Northern       111
Oti             30
Ashanti          2
Upper East       2
Name: count, dtype: int64