## Icicle Vis.

Visualize Project W hierarchy as zoomable / interactive icicle plot

Data in from raw, manual sheet via google sheets/drive


See: https://plotly.com/python/icicle-charts/
- Having difficulty with missing values, ie non-leaf None/NaN entries.

In [18]:
import pandas as pd
import plotly.express as px

In [19]:
in_file = "/Users/datascience/Development/aquaya/py-sandbox/hierarchy/data/categories-export-202406.xlsx"

In [20]:
df = pd.read_excel(in_file, sheet_name="Original 2024-04 - Clean")
df["ALL"] = "ALL"
df.shape

(118, 6)

In [21]:
df.head(3)

,LEVEL-1,LEVEL-2,LEVEL-3,LEVEL-4,TOTAL DATASETS,ALL
0,Administrative Borders,NaN,NaN,NaN,177,ALL
1,Business / Economics,NaN,NaN,NaN,54,ALL
2,Business / Economics,"Private Sector, Enterprise",NaN,NaN,14,ALL

In [22]:
df.tail(3)

    LEVEL-1           LEVEL-2            LEVEL-3 LEVEL-4  TOTAL DATASETS  ALL
115   Water  Water Management            Tariffs     NaN               8  ALL
116   Water  Water Management  Non-revenue water     NaN               1  ALL
117   Water  Water Management      Water Utility     NaN               1  ALL

### Example

```python
import plotly.express as px
df = px.data.tips()
fig = px.icicle(df, path=[px.Constant("all"), 'day', 'time', 'sex'], values='total_bill')
fig.update_traces(root_color="lightgrey")
fig.update_layout(margin = dict(t=50, l=25, r=25, b=25))
fig.show()
```

In [23]:
df.columns

Index(['LEVEL-1', 'LEVEL-2', 'LEVEL-3', 'LEVEL-4', 'TOTAL DATASETS', 'ALL'], dtype='object')

In [24]:
px.icicle(df, path=["ALL", "LEVEL-1", "LEVEL-2", "LEVEL-3", "LEVEL-4"], values="TOTAL DATASETS")

ValueError: ('Non-leaves rows are not permitted in the dataframe \n', ALL                          ALL
LEVEL-1     Business / Economics
LEVEL-2    Development Economics
LEVEL-3
LEVEL-4
Name: 5, dtype: object, 'is not a leaf.')

In [25]:
vendors = ["A", "B", "C", "D", None, "E", "F", "G", "H", None]
sectors = ["Tech", "Tech", "Finance", "Finance", "Other",
           "Tech", "Tech", "Finance", "Finance", None]
regions = ["North", "North", "North", "North", "North",
           "South", "South", "South", "South", "South"]
sales = [1, 3, 2, 4, 1, 2, 2, 1, 4, 1]
tdf = pd.DataFrame(
    dict(vendors=vendors, sectors=sectors, regions=regions, sales=sales)
)

In [26]:
tdf

  vendors  sectors regions  sales
0       A     Tech   North      1
1       B     Tech   North      3
2       C  Finance   North      2
3       D  Finance   North      4
4    None    Other   North      1
5       E     Tech   South      2
6       F     Tech   South      2
7       G  Finance   South      1
8       H  Finance   South      4
9    None     None   South      1

In [27]:
tdf["all"] = "all" # in order to have a single root node
fig = px.icicle(tdf, path=['all', 'regions', 'sectors', 'vendors'], values='sales')
fig.update_traces(root_color='lightgrey')
fig.update_layout(margin = dict(t=50, l=25, r=25, b=25))
fig.show(renderer="iframe")

ValueError: ('Non-leaves rows are not permitted in the dataframe \n', all          all
regions    South
sectors
vendors
Name: 9, dtype: object, 'is not a leaf.')